<div class="content">
  <header>
    <h1>Buttons</h1>
  </header>

  <div class="row">
    <p><Button / ></p>
    <app-button variant="none"></app-button>
  </div>

  <div class="row">
    <p><Button variant="outline" / ></p>
    <app-button variant="outline"></app-button>
  </div>

  <div class="row">
    <p><Button variant="text" / ></p>
    <app-button variant="text"></app-button>
  </div>

  <div class="row">
    <p><Button disableShadow / ></p>
    <app-button variant="disableShadow"></app-button>
  </div>

  <div class="row grid grid--two">
    <div>
      <p><Button disabled / ></p>
      <app-button disabled=true text="Disabled"></app-button>
    </div>
    <div>
      <p><Button variant="text" disabled / ></p>
      <app-button variant="text" disabled=true text="Disabled"></app-button>
    </div>
  </div>


  <div class="row grid grid--two-big">
    <div>
      <p><Button startIcon=”local_grocery_store” / ></p>
      <app-button variant="showIcon" showIconBefore=true></app-button>
    </div>
    <div>
      <p><Button endIcon=”local_grocery_store” / ></p>
      <app-button variant="showIcon" showIconAfter=true></app-button>
    </div>
  </div>

  <div class="row grid grid--three">
    <div>
      <p><Button size="sm" / ></p>
      <app-button variant="sm"></app-button>
    </div>
    <div>
      <p><Button size="md" / ></p>
      <app-button></app-button>
    </div>
    <div>
      <p><Button size="lg" / ></p>
      <app-button variant="lg"></app-button>
    </div>
  </div>

  <div class="row grid grid--four">
    <div>
      <p><Button color="default" / ></p>
      <app-button variant="default"></app-button>
    </div>
    <div>
      <p><Button color="primary" / ></p>
      <app-button variant="primary"></app-button>
    </div>
    <div>
      <p><Button color="secondary" / ></p>
      <app-button variant="secondary" text="Secondary"></app-button>
    </div>
    <div>
      <p><Button color="danger" / ></p>
      <app-button variant="danger" text="Danger"></app-button>
    </div>
  </div>

  <div class="row resources">
    <p>Icons: https://material.io/resources/icons/?style=round</p>
    <p>@Brezo | <a href="https://github.com/BrezoLarsen" target="_blank">https://github.com/BrezoLarsen</a></p>
  </div>

</div>
